*.o
*.a
*.mod

GMIN/bin/GMIN
GMIN/source/bhpt.f90
GMIN/source/bspt.f
GMIN/source/bspt_one_atom.f
GMIN/source/display_version.f90
GMIN/source/main.f
GMIN/source/mc.f
GMIN/source/porfuncs.f90
GMIN/source/tryexchange.f90
GMIN/source/tryexchange_independence.f90

DOC/*.aux
DOC/*.bbl
DOC/*.blg
DOC/*.dvi
DOC/*.log
DOC/*.out
DOC/*.pdf
DOC/*.ps
DOC/*.toc

